<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{style.css}" rel="stylesheet"/>
</head>
<body>
 <h1>Albums</h1>
 <div class="container">
     <ul th:each="allAlbums : ${allAlbums}">
         <li th:text="${allAlbums.title}"></li>
         <li th:text="${allAlbums.artist}"></li>
         <li th:text="${allAlbums.songCount}"></li>
         <li th:text="${allAlbums.length}"></li>
         <img class="image" th:src=@{${allAlbums.imageUrl}}>
     </ul>
 </div>
 <form action="/new" method="POST">
     <label for="title">Title</label>
     <input type="text" name="title" id="title">

     <label for="artist">Artist</label>
     <input type="text" name="artist" id="artist">

     <label for="songCount">Song Count</label>
     <input type="text" name="songCount" id="songCount">

     <label for="length">Length</label>
     <input type="text" name="length" id="length">

     <label for="imageUrl">ImageUrl</label>
     <input type="text" name="imageUrl" id="imageUrl">

     <button type="submit">Add Album </button>
 </form>


</body>
</html>