<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>New</h1>
<!-- <p th:text="'id: ' + ${album.id}"></p>-->
<p th:text="'content: ' + ${allAlbums.title}"></p>
<p th:text="'rating: ' + ${allAlbums.artist}"></p>
<p th:text="'rating: ' + ${allAlbums.songCount}"></p>
<p th:text="'rating: ' + ${allAlbums.length}"></p>
<p th:text="'rating: ' + ${allAlbums.imageUrl}"></p>
<a href="/albums">Submit another message</a>

</body>
</html>