<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>New</h1>
<ul th:each="allAlbums : ${allAlbums}">
    <li th:text="${allAlbums.id}"></li>
    <li th:text="${allAlbums.title}"></li>
    <li th:text="${allAlbums.artist}"></li>
    <li th:text="${allAlbums.songCount}"></li>
    <li th:text="${allAlbums.length}"></li>
    <a th:href = "@{'/albums/' + ${allAlbums.id}}"><img th:src="${allAlbums.imageUrl}" class="image"></a>
</ul>

<form action="albums/{id}" method="POST">
    <input type="hidden" name="id" >
    <input type="text" name="title" placeholder="Title">
    <input type="number" name="length"placeholder="Song Length">
    <input type="number" name="trackNumber"placeholder="Track Number">
    <input type="submit" value="Add Song">
</form>

</body>
</html>